<div class="inner info">

	<a class="refresh" href="<%=SITEURL%>#demo"><img class="head" src="img/decouvrir-kwixo.png" alt="Découvrir Kwixo" width="284" height="100" /></a>

	<div class="links">
		<ul>
			<li class="white"><a class="refresh" href="<%=SITEURL%>#infos/security">Sécurité</a></li>
			<li class="white"><a class="refresh" href="<%=SITEURL%>#infos/legals">Mentions légales</a></li>
			<li class="white cond"><a class="refresh" href="<%=SITEURL%>#infos/termsofuse">Conditions Générales d'Utilisation</a></li>
		</ul>
	</div><!-- / .links -->

</div><!-- / .inner -->
<img id="xiti" width="1" height="1" src="<%= HOST %>.xiti.com/hit.xitif?s=<%= S %>&s2=19&p=Info::M_TR_INFO&idclient=&clic=A&ref=" />

