<div class="inner">
	<form class="joinForm form" data-root="personalData" novalidate="novalidate">
		<p class="sub-title">Create account 1/3</p>
		<fieldset>
			<h2 class="title">Me</h2>

			<div class="halfCol">
				<fieldset>
					<div class="formline">
						<input type="text" name="first_name" id="first_name" required="required" />
						<label for="first_name" class="oneline">First name</label>
					</div>

					<div class="formline">
						<input type="text" name="second_name" id="second_name" required="required" />
						<label for="second_name" class="oneline">Second name</label>
					</div>

					<div class="formline">
						<input type="email" name="email" id="email" required="required" />
						<label for="email" class="oneline">Email</label>
					</div>

					<div class="formline">
						<input type="password" name="password" id="password" required="required"/>
						<label for="password" class="oneline">Password</label>
					</div>

				</fieldset>

			</div><!-- halfCol --> 

			<div class="buttons"> 
				<button type="submit" name="continue" class="continueStep2 ignore btn" value="Next"><span>Next</span></button>
			</div><!-- / .buttons --> 

		</fieldset>

	</form>

</div><!-- / .inner --> 