<div class="inner">

	<form class="joinForm form" data-root="securityData" novalidate="novalidate">
		<p class="sub-title">My credit card 3/3</p>
		<fieldset>
			<h2 class="title">My adress</h2>

			<div class="halfCol">

				<fieldset>
					<div class="formline">
						<input type="text" name="first_adress" id="first_adress" required="required" />						
						<label for="first_adress"><span>Address Line 1</span> Adress 1</label>
					</div>

					<div class="formline">
						<input type="text" name="second_adress" id="second_adress" required="required" />			
						<label for="second_adress"><span>Address Line 2</span> Adress 2</label>
					</div>

					<div class="formline">
						<input type="text" name="state" id="state" required="required" />						
						<label for="state" class="oneline">State/Province</label>
					</div>

					<div class="formline">
						<input type="text" name="city" id="city" required="required" />						
						<label for="city" class="oneline">City</label>
					</div>

					<div class="formline">
						<input type="text" name="zip" id="zip" required="required" />						
						<label for="zip" class="oneline">Zip</label>
					</div>

					<div class="formline">
						<input type="text" name="country" id="country" required="required" />						
						<label for="country" class="oneline">Country</label>
					</div>

					<div class="formline">
						<input type="text" name="phone" id="phone" required="required" />						
						<label for="phone" class="oneline">Phone number</label>
					</div>
				</fieldset>

			</div><!-- halfCol --> 

			<div class="buttons"> 
				<button type="submit" name="continue" class="continueStep2 ignore btn" value="Next"><span>Next</span></button>
			</div><!-- / .buttons --> 

		</fieldset>

	</form>

</div><!-- / .inner --> 