<div class="inner auth">
	<h2 class="title">Welcome !</h2>
	<div class="wrapper">
		<form name="logForm" data-root="logForm" class="logForm form" novalidate="novalidate">
			<fieldset>
				<div class="formline">
					<input type="text" name="username" id="username"  required="required" />					
					<label for="username" class="oneline">Username</label>
				</div>
				
				<div class="formline">
					<input type="password" name="password" id="password"  required="required"/>					
					<label for="password" class="oneline">Password</label>
				</div>

			</fieldset>

			<div class="buttons">
				<input type="submit" name="signin" class="signin btn" value="S'identifier" />
			</div>
		</form>
		
		<ul>
			<li>
				<a href="<%=SITEURL%>#join/step1">Create account</a>
			</li>
			<li>
				<a href="<%=SITEURL%>#passwordRecovery">Forgot password</a>
			</li>
		</ul>
	</div> <!-- / .wrapper -->
</div> <!-- / .inner -->